.changepw-page {
width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changepw-box {
  display: flex;
  flex-direction: column;
  padding: 36px 56px;
  border-radius: 12px;
  width: 900px;
  
}

.changepw-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-left: 90px;
  margin-top: 50px;

}

.form-row4 {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.form-row4 label {
  width: 160px;
  font-size: 22px;
}

.form-row4 input[type="text"],
.form-row4 input[type="password"],
.form-row4 input[type="email"] {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #000;
  background: #000;
  color: #fff;
  outline: none;
  max-width: 340px;
  height: 38px;
}

.form-row4.with-button input {
  margin-right: 12px;
  /* max-width: 220px; */
  height: 38px;
  box-sizing: border-box;
}

.form-row4.with-button button {
  padding: 7px 14px;
  font-size: 14px;
  background-color: #FFDA17;
  border: none;
  border-radius: 6px;
}

.button-row {
  justify-content: flex-end;
  display: flex;
}

.next-button {
  padding: 10px 24px;

  color: black;
  font-size: 19px;
  border: none;
  border-radius: 8px;
}
.error-text {
  color: red;
}